<!-- This is an example launch file for how a ROS application could use a qt_robot_speaker -->
<launch>
   
	<arg name="use_gestures" default="true"/>
  	<group if="$(arg use_gestures)">
    		<node pkg="qt_robot_gestures" type="gestures.py" name="gestures" output="screen"/>
  	</group>


</launch>
