<!-- This is an example launch file for how a ROS application could use a cordial_lex -->
<launch>
   
	<arg name="use_microphone" default="true"/>
  	<group if="$(arg use_microphone)">
    		<node pkg="qt_robot_microphone" type="microphone_input.py" name="micr_input" output="screen"/>
  	</group>


</launch>
